In [5]:
import pandas as pd
import seaborn as sns
url = 'https://github.com/AdarSaban/olypmic_project/raw/main/my_porject_csv.csv'
our_data = pd.read_csv(url)
our_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3501,1996,Ali Al-Khalifa,M,NaN,175.0,65.0,Bahrain,BRN,1984 Summer,1984,Summer,Los Angeles,Shooting,"Shooting Men's Small-Bore Rifle, Prone, 50 metres",NaN
3502,1997,Salman Al-Khalifa,M,NaN,167.0,65.0,Bahrain,BRN,1984 Summer,1984,Summer,Los Angeles,Shooting,Shooting Mixed Trap,NaN
3503,1998,Majid Sultan Al-Khamis,M,NaN,170.0,75.0,Kuwait,KUW,1980 Summer,1980,Summer,Moskva,Handball,Handball Men's Handball,NaN
3504,1999,Khaldoun Al-Khashti,M,25.0,189.0,97.0,Kuwait,KUW,1996 Summer,1996,Summer,Atlanta,Handball,Handball Men's Handball,NaN
3505,2000,Mubarak Al-Khater,M,18.0,170.0,68.0,Qatar,QAT,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,NaN